name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: node version
        run: node -v

      - uses: actions/checkout@v3

      - name: check folder
        run: ls -al

      - name: deploy to heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "jtb-blog-test1"
          heroku_email: "tood2111@gmail.com"
        env:
          MONGO_URI: ${{secrets.MONGO_URI}}
          S3_KEY: ${{secrets.S3_KEY}}
          S3_SECRET: ${{secrets.S3_SECRET}}
